*{
  margin: 0;
}

header{
  background-color: #00acee;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
}

input{
  padding: 5px;
}

img{
  width: 50px;
  margin-top: 10px;
}

#name{
  display: flex;
}

#great{
  display: flex;
  padding-top: 20px;
}

input{
  margin-left: 10px;
  margin-bottom: 20px;
}

textarea{
  margin-left: 10px;
}

.button{
  text-align: center;
  margin-top: 20px;
}

button {
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
  background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
  border-radius: 4px;
  color: #fff;
  line-height: 50px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  width: 160px;
}
button:hover {
  border:1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
button:active {
  background: #1a92c2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
  color: #1679a1;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
