*{
    margin: 0;
}

h1{
    text-align: center;
}

header{
    background-color: #00acee;
    height: 70px;
    margin: 0;
}

#logo{
    display: flex;
    justify-content: center; /* 子要素を中央揃え */
    position: relative;
}

img{
    width: 50px;
    margin-top: 10px;
}

.button{
    text-align: center;
    margin-top: 20px;
}

fieldset{
    margin: 10px;
}

legend{
    font-family: 'Walter Turncoat', cursive;;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.icon_box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    margin-top: -15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0.01%;
}

#preview{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#button_box{
    margin-top: 10px;
}